# Ignore Dymola output, log and temporary files (in alphabetical order)
*.bak-mo
*.mat
*.mof
buildlog.txt
dsfinal.txt
dsin.txt
dslog.txt
dsmodel.c
dsmodelext*.c
dsmodelext*.obj
dsres.txt
dymosim.exe
dymosim.exp
dymosim.lib
empty.txt
failure
request
stat
status
stop
success
#
# Ignore some log files
simulator.log
unitTests.log
printlog.txt
fileExtensions.txt
#
# Ignore some Microsoft files
desktop.ini
thumbs.db
*.doc
*.docx
*.xls
*.xlsx
*.xlsm
*.ppt
*.pptx
#
# Ignore some LaTeX files
*.aux
*.log
*.synctex.gz
#
# Ignore some other files
*.orig
